@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

/*-------4.0 ELEMENTS-------*/

/*---form---*/

input {
  border: .1em solid transparent;
}

input:hover, textarea:hover {
  border: .1em solid #FFB405;
}

label {
  display: none;
}

::-webkit-input-placeholder, textarea {
  font-family: 'Sriracha', 'sans-serif';
  color: #141414; 
}


/*---typography---*/

body {
  font-family: 'Spartan', 'sans-serif';
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

footer h4 {
  font-size: 1.75rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

h1, li.menu-text, nav ul.menu, button, a.button, footer h4 span {
  text-transform: uppercase;
}

h1, .title-bar-title, li.menu-text, h2, h4 {
  font-family: 'Bangers', sans-serif;
}

h1, h2,  li.menu-text {
  -webkit-text-stroke: .1rem black;
}

h1 span, h3, .menu-text span, footer span {
  font-family: 'Spartan', 'sans-serif';
}

h1 span, h3, .menu-text span, footer span, .top-bar-right a {
  font-weight: 500;
}

h3, .menu-text span, footer span {
  font-size: 1rem;
}

#example-menu li, h2, .title-bar-title, .callout, h4, footer p a, footer p a:focus {
  color: #FFB405;
}

header, footer, .top-bar-right a, .title-bar-title span, .menu-text span, footer span, #store, #museum, footer p a:hover {
  color: #fff;
}

h1 {
  line-height: 1.15rem;
  margin: 0.25rem 0 0 0.75rem;
}

h1, li.menu-text {
  font-size: 2rem;
}

.menu .menu-text {
  font-weight: normal;
  line-height: 1.1rem;
}

h1 span, li.menu-text span {
  -webkit-text-stroke: 0;
  font-size: 0.8rem;
  letter-spacing: 0.16rem;
}

h2 {
  font-size: 3rem;
}

#events h3 {
  font-family: 'Sriracha', 'sans-serif';
  color: #141414; 
  font-size: 1.2rem;
}

.card-divider:last-child p {
  font-size: .9rem;
}
/* Medium and up */
@media screen and (min-width: 40em) {
  p {
    line-height: 1.75rem;
  }
  footer h4 {
    margin-top: 0;
  }

}

@media screen and (max-width: 46em) {  
  .callout p {
   font-size: 1.3rem;
 }

 #pricing .callout p {
   font-size: .9rem;
 }
}

@media screen and (max-width: 39.9375em) {  
   .callout p {
    font-size: 1.1rem;
  }

  #pricing .callout p {
    font-size: .9rem;
  }
}

@media screen and (min-width: 64em) {
  p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

/*---images---*/

#about img, #store img, #museum img {
  border: .2em solid #141414;
}



/*-------5.0 OBJECTS-------*/

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.title-bar, .top-bar {
  background-image: url("../img/title_bar_bg.png");
  background-position: top left;
  background-repeat: repeat-y;
}

.top-bar ul {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 39.9375em) {
  .top-bar {
    background-image: none;
  }
}

@media screen and (max-width: 39.9375em) {  
  .top-bar {
    top: 3.9rem;
  }
}

@media screen and (max-width: 39.9375em) {
  #about img, #pricing img {
      display: none;
  }
}

/*-------6.0 COMPONENTS-------*/

/*---buttons---*/

.button {
  background-color: #141414;
  color: #fff;
  border: .2em solid #141414;
  width: 100%;
}

.button:hover  {
  background-color: #FFB405;
  font-family: 'Sriracha', 'sans-serif';
  color: #141414;
  border: .2em solid #141414; 
}

.button:focus {
  background-color: #FFB405;
}



button.orbit-previous, button.orbit-next {
  z-index: 2;
}

button.orbit-previous {
  background-image: url(../img/left_caret.png);
  cursor: pointer;
  height: 2rem;
  width: 3.2rem;
  margin-left: 1rem;
}

button.orbit-next {
  background-image: url(../img/right_caret.png);
  cursor: pointer;
  height: 2rem;
  width: 3.2rem;
  margin-right: 1rem;
}

button.orbit-previous:hover, button.orbit-next:hover, button.orbit-previous:focus, button.orbit-next:focus {
  background: none;
}

button.orbit-previous:focus {
  background-image: url(../img/left_caret.png);
}

button.orbit-next:focus {
  background-image: url(../img/right_caret.png);
}


button.orbit-next:hover {
  background-image: url(../img/right_caret_hover.png);
}

button.orbit-previous:hover {
  background-image: url(../img/left_caret_hover.png);
}

nav.orbit-bullets button {
  background-color: #fff;
  border: solid 0.1rem #141414;
  cursor: pointer;
}

nav.orbit-bullets button:hover {
  background-color: #141414;
}

nav.orbit-bullets button.is-active {
  background-color: #FFB405;
}

footer ul.menu li a {
  padding: 0.5rem 0.5rem;
}

@media screen and (min-width: 40em) {
  .button {
    width: 10rem;
  }
  button.orbit-previous {
    margin-left: 2rem;
  }
  button.orbit-next {
    margin-right: 2rem;
  }
  ul.menu li a {
    padding: 0.7rem 0.5rem;
  }
}

@media screen and (min-width: 64em) {
  ul.menu li a {
    padding: 0.7rem 1rem;
  }
}

/*-- resize main nav font-size to avoid stacking --*/
@media screen and (max-width: 50em) {
  ul.menu li a {
    font-size: 0.9rem;
    padding: 0.7rem 0.3rem;
  }
}

/*-- resize main nav font-size to avoid stacking --*/
@media screen and (max-width: 45em) {
  ul.menu li a {
    font-size: 0.75rem;
    padding: 0.7rem 0.3rem;
  }
}

/*-- reset main nav font-size in burger fly-out menu on small display --*/
@media screen and (max-width: 39.9375em) {
  ul.menu li a {
    font-size: 1.25rem;
    padding: 0.7rem 1rem;
  }
}

/*---callout---*/

.callout {
  background-color: #FFB405;
  font: 300 1.5rem 'Sriracha', 'sans-serif';
  color: #141414;
  border: .2em solid #141414; 
}


/*---pricing callout---*/

#pricing .callout {
  background-color: #fff;
  font: 500 1rem 'Spartan', 'sans-serif';
  color: #141414;
  border: .05em solid #504E4E;
}

#pricing h2 {
  font: 700 1.5rem 'Spartan', 'sans-serif';
  color: #FFB405;
  -webkit-text-stroke: 0em;
}

#pricing .small-12:first-child {
  margin-left: 0;
}

#pricing  .small-12:last-child {
  margin-right: 0;
}

/*---cards---*/

.card {
  border: .1em solid #141414;
}

.card .card-divider:first-child {
  background-color: #FFB405;
  color: #141414;
  border-bottom: .1em solid #141414;
}

.card-divider:last-child {
  background-color: #504E4E;
  color: #fff;
  font-size: .8rem;
}

.card hr {
  height: .05em;
  background-color: #FFB405;
}





/*---footer---*/

footer li {
  list-style: none;
}

footer ul {
  font-size: 2rem;
}

.fab {
  color: #FFB405; 
}

.fab:hover {
  color: rgb(179, 131, 21); 
}



/*---orbit---*/


.orbit-slide {
  max-height: 85vh;
}

/*---hero section---*/

.hero-section {
    height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/btg_001.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*---navigation---*/


.top-bar-right a:hover {
  color: #141414;
}

.top-bar-right li:hover {
  background-color: #FFB405;
  font-family: 'Sriracha', 'sans-serif';
}

nav ul.menu {
  display: block;
}

nav ul.menu li {
  font-size: 1.5rem;
}

@media screen and (min-width: 40em) {
  nav ul.menu {
    display: inline-flex;
  }
  nav ul.menu li {
    font-size: 1rem;
  }
}

/*---sections---*/

#store, #museum {
  position: relative;
}

#store-text, #museum-text {
  position: relative;
  z-index: 2;
}



/*---------7.0 UTILITIES-------------*/

section, footer {
  padding: 5em 0;
}

/*---colors---*/
 
.gray-bg {
  background-color: #504E4E;
}

.fade-bg {
  background-image: url("../img/bg_fade_01.jpg");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.spot-halftone {
  width: 40rem;
  height: 40rem;
  content: url(../img/halftone_spot.png);
  position: absolute;
  z-index: 1;
}

#store .spot-halftone {
  top: -5rem;
  left: 1rem;
}

#museum .spot-halftone {
  top: -4rem;
  right: 5rem;
}

@media screen and (max-width: 39.9375em) {
  .spot-halftone {
      display: none;
  }
}